<% wrapper_class = local_assigns[:wrapper_class] || 'nested-fields' %>

<div class="<%= wrapper_class %> mt-3">
    <%= f.hidden_field :id, class:"id-field" %>

    <%= f.input :name, label: "Conference Name" %>

    <%= f.input :core, label: "CORE Ranking" %>

    <%= f.input :start_date, label: "Start Date", 
                include_blank: true, 
                start_year: 2020, 
                end_year: Date.today.year + 1 %>

    <%= f.input :end_date, label: "End Date", 
                include_blank: true, 
                start_year: 2020, 
                end_year: Date.today.year + 1 %>

    <% if wrapper_class == 'nested-fields' %>
        <%= link_to_remove_association "Delete", f, class:"btn btn-danger" %>
    <% elsif current_user&.role == "moderator" %>
        <%= f.hidden_field :_destroy,
                value: "0",
                class: "association-destroy-flag" %>

        <button type="button"
                class="btn btn-danger mb-3 association-destroy-toggle"
                data-action="click->association-editor#toggleDestroy">
            Delete
        </button>
    <% end %>
</div>