<div class="nested-fields">
    <div class="mb-3">
        <%= f.label :name, "Conference Name", class: 'form-label' %>
        <%= f.text_field :name, class: 'form-control', required: true %>
    </div>

    <div class="mb-3">
        <%= f.label :core, "CORE Ranking", class: 'form-label' %>
        <%= f.text_field :core, class: 'form-control' %>
    </div>

    <div class="mb-3">
        <%= f.label :start_date, "Start Date", class: 'form-label' %>
        <%= f.date_field :start_date, class: 'form-control', required: true %>
    </div>

    <div class="mb-3">
        <%= f.label :end_date, "End Date", class: 'form-label' %>
        <%= f.date_field :end_date, class: 'form-control', required: 'true' %>
    </div>

    <%= link_to_remove_association "Delete", f, class:"btn btn-danger mb-2" %>
</div>