<% wrapper_class = local_assigns[:wrapper_class] || 'nested-fields' %>

<div class="<%= wrapper_class %> mt-3">
    <%= f.hidden_field :id, class:"id-field" %>
    
    <%= f.input :title, label: "Journal Issue Title" %>

    <div class="row">
        <div class="col-md-6">
            <%= f.input :journal_num, label: "Journal Number" %>
        </div>

        <div class="col-md-6">
            <%= f.input :publisher, label: "Publisher" %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <%= f.input :volume, label: "Volume" %>
        </div>

        <div class="col-md-6">
            <%= f.input :impact_factor, label: "Impact Factor" %>
        </div>
    </div>

    <% if wrapper_class == 'nested-fields' %>
        <%= link_to_remove_association "Delete", f, class:"btn btn-danger" %>
    <% elsif current_user&.role == "moderator" %>
        <%= f.hidden_field :_destroy,
            value: "0",
            class: "association-destroy-flag" %>

        <button type="button"
                class="btn btn-danger mb-3 association-destroy-toggle"
                data-action="click->association-editor#toggleDestroy">
            Delete
        </button>
    <% end %>
</div>