<div class="nested-fields">

    <div class="row">
        <div class="col-md-4">
            <%= f.input :is_new_method_technique,
                        as: :select,
                        collection: [['Yes', true], ['No', false]],
                        include_blank: true,
                        required: true,
                        label: "New Method/Technique",
                        label_html: {
                            data: {
                                controller: "tooltip",
                                tooltip_content: "Does publication describe new method or technique?",
                                tooltip_trigger_value: "mouseenter"
                            },
                            style: "cursor: help;"
                        } %>
        </div>

        <div class="col-md-4">
            <%= f.input :is_methodology_application,
                        as: :select,
                        collection: [['Yes', true], ['No', false]],
                        include_blank: true,
                        required: true,
                        label: "Methodology Application",
                        label_html: {
                            data: {
                                controller: "tooltip",
                                tooltip_content: "Does publication describe application of the methodology?",
                                tooltip_trigger_value: "mouseenter"
                            },
                            style: "cursor: help;"
                        } %>
        </div>

        <div class="col-md-4">
            <%= f.input :is_polish_med_researcher_involved,
                        as: :select,
                        collection: [['Yes', true], ['No', false]],
                        include_blank: true,
                        required: true,
                        label: "Polish Medical Researcher Involved" %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <%= f.input :is_peer_reviewed,
                        as: :select,
                        collection: [['Yes', true], ['No', false]],
                        include_blank: true,
                        required: true,
                        label: "Peer Reviewed" %>
        </div>

        <div class="col-md-4">
            <%= f.input :is_co_publication_with_partners,
                        as: :select,
                        collection: [['Yes', true], ['No', false]],
                        include_blank: true,
                        required: true,
                        label: "Co-Publication with Partners",
                        label_html: {
                            data: {
                                controller: "tooltip",
                                tooltip_content: "Is it a co-publication with national and foreign partners?",
                                tooltip_trigger_value: "mouseenter"
                            },
                            style: "cursor: help;"
                        } %>
        </div>

        <div class="col-md-4">
            <%= f.input :subsidy_points, label: "Subsidy Points" %>
        </div>
    </div>

    <% if current_user.role == "moderator" %>
        <div class="row">
            <div class="col-md-4">
                <%= f.input :teaming_reporting_period, label: "Teaming Reporting Period" %>
            </div>

            <div class="col-md-4">
                <%= f.input :invoice_number, label: "Invoice Number" %>
            </div>

            <div class="col-md-4">
                <%= f.input :pbn,
                            as: :select,
                            collection: [['Yes', true], ['No', false]],
                            include_blank: true,
                            label: "PBN" %>
            </div>
        </div>  

        <div class="row">
            <div class="col-md-4">
                <%= f.input :jcr,
                            as: :select,
                            collection: [['Yes', true], ['No', false]],
                            include_blank: true,
                            label: "JCR" %>
            </div>

            <div class="col-md-4">
                <%= f.input :is_added_ft_portal,
                            as: :select,
                            collection: [['Yes', true], ['No', false]],
                            include_blank: true,
                            label: "Added to FT Portal" %>
            </div>

            <div class="col-md-4">
                <%= f.input :is_checked,
                            as: :select,
                            collection: [['Yes', true], ['No', false]],
                            include_blank: true,
                            label: "Checked" %>
            </div>
        </div>
    <% end %>
</div>