<div class="nested-fields">
    <%= f.input :teaming_reporting_period, label: "Teaming Reporting Period" %>
      
    <%= f.input :invoice_number, label: "Invoice Number" %>
      
    <%= f.input :pbn, label: "PBN" %>
      
    <%= f.input :jcr, label: "JCR" %>
      
    <%= f.input :is_added_ft_portal, label: "Added to FT Portal" %>
      
    <%= f.input :is_checked, label: "Checked" %>
      
    <%= f.input :is_new_method_technique, label: "New Method/Technique" %>
      
    <%= f.input :is_methodology_application, label: "Methodology Application" %>
      
    <%= f.input :is_polish_med_researcher_involved, label: "Polish Medical Researcher Involved" %>

    <%= f.input :is_peer_reviewed, label: "Peer Reviewed" %>
      
    <%= f.input :subsidy_points, label: "Subsidy Points" %>
    
    <%= link_to_remove_association "Delete", f, class:"btn btn-danger mb-2" %>
</div>