<div class="nested-fields">
  <div class="mb-3">
    <%= f.label :repository, class: "mt-3" %>
    <%= f.select :repository, 
        RepositoryLink.repositories.keys.map { |key| [RepositoryLink.repositories[key], key] }, 
        {}, class: 'form-select' %>
  </div>
  <div class="mb-3">
    <%= f.label :value, class: "mt-3" %>
    <%= f.text_field :value, class: 'form-control' %>
  </div>
  <%= link_to_remove_association "Delete", f, class:"btn btn-danger mb-2" %>
</div>