<h1 class="mb-4">Publications</h1>

<div class="row">
  <div class="col-md-3">
    <div class="d-flex justify-content-start mb-3 gap-3">
      <p class="text-center text-nowrap">Sort by</p>
      <%= select_tag :sort,
          options_for_select(Publications::SortValidator.options.map { |k, _| [k.humanize, k] }, params[:sort]),
          class: "form-control",
          data: { controller: "sort", action: "change->sort#submit" } %>
    </div>
  </div>
  <div class="col-md-9">
    <div class="d-flex justify-content-end mb-3 gap-3" data-controller="toggle-search">
        <%= search_form_for @q, url: publications_path, method: :get do |f| %>
          <%= f.search_field :title_cont, class: "form-control search-field", placeholder: "Search publications by title" %>
        <% end %>
        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#searchForm" aria-expanded="false" aria-controls="searchForm">
            Advanced Search
        </button>
        <%= link_to 'New Publication', new_publication_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="collapse" id="searchForm">
  <div class="row">
    <%= render 'search_form', query: @q %>
  </div>
</div>

<div class="publication-list mt-4">
  <% @publications.each do |publication| %>
    <div class="publication-item mb-4 pb-3">
      <h2>
        <%= link_to publication.title, publication_path(publication), class: "publication-title" %>
      </h2>
      <p class="publication-meta">
        <strong>Authors:</strong> <%= publication.author_list %>
      </p>
      <p class="publication-meta">
        <strong>Research groups:</strong> 
        <%= publication.research_group_publications.map { |rg| rg.research_group.name }.join(', ') %>
      </p>
      <p class="publication-meta">
        <strong>Category:</strong> <%= publication.category.humanize %> |
        <strong>Status:</strong> <%= publication.status.humanize %>
      </p>
    </div>
  <% end %>
</div>
