<h1>New Publication</h1>

<%= form_with(model: @publication, local: true, html: { class: 'needs-validation', novalidate: true }) do |form| %>
  <% if @publication.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h2>
      <ul>
        <% @publication.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :category, class: 'form-label' %>
    <%= form.select :category, 
        Publication.categories.keys.map { |key| [key.humanize, key] }, 
        {}, class: 'form-select' %>
  </div>

  <div class="mb-3">
    <%= form.label :status, class: 'form-label' %>
    <%= form.select :status, 
        Publication.statuses.keys.map { |key| [key.humanize, key] }, 
        {}, class: 'form-select' %>
  </div>

  <div class="mb-3">
    <%= form.label :author_list, class: 'form-label' %>
    <%= form.text_area :author_list, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :publication_date, class: 'form-label' %>
    <%= form.date_field :publication_date, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :link, class: 'form-label' %>
    <%= form.text_field :link, class: 'form-control' %>
  </div>

  <hr>

  <!-- Research Groups Section -->
  <div id="research-groups">
    <div class="research-group mb-3">
      <%= form.fields_for :research_group_publications, @publication.research_group_publications.build do |rg_form| %>
        <div class="mb-3">
          <%= rg_form.label :research_group, class: 'form-label' %>
          <%= rg_form.select :research_group, 
              ResearchGroupPublication.research_groups.keys.map { |key| [key.humanize, key] }, 
              {}, class: 'form-select' %>
        </div>

        <div id="is-primary-container" class="mb-3">
          <%= rg_form.label :is_primary, class: 'form-label' %>

          <!-- Hidden field to ensure a default value of 0 is submitted -->
          <%= rg_form.hidden_field :is_primary, value: 0 %>
          <%= rg_form.check_box :is_primary, {}, 1, 0 %>
          <%= rg_form.label :is_primary, 'Primary?' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= button_tag 'Add Another Research Group', type: 'button', id: 'add-research-group', class: 'btn btn-primary' %>
  </div>

  <hr>

  <!-- Identifiers Section -->
  <div id="identifiers">
    <div class="identifier mb-3">
      <%= form.fields_for :identifiers, @publication.identifiers.build do |rg_form| %>
        <div class="mb-3">
          <%= rg_form.label :category, class: 'form-label' %>
          <%= rg_form.select :category, 
              Identifier.categories.keys.map { |key| [key.humanize, key] }, 
              {}, class: 'form-select' %>
        </div>

        <div class="mb-3">
          <%= rg_form.label :value, class: 'form-label' %>
          <%= rg_form.text_field :value, id: 'identifier-value', class: 'form-control' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= button_tag 'Add Another Identifier', type: 'button', id: 'add-identifier', class: 'btn btn-primary' %>
  </div>

  <hr>

  <!-- Repository Links Section -->
  <div id="repository-links">
    <div class="repository-link mb-3">
      <%= form.fields_for :repository_links, @publication.repository_links.build do |rg_form| %>
        <div class="mb-3">
          <%= rg_form.label :repository, class: 'form-label' %>
          <%= rg_form.select :repository, 
              RepositoryLink.repositories.keys.map { |key| [key.humanize, key] }, 
              {}, class: 'form-select' %>
        </div>

        <div class="mb-3">
          <%= rg_form.label :value, class: 'form-label' %>
          <%= rg_form.text_field :value, id: 'repository-link-value', class: 'form-control' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= button_tag 'Add Another Repository Link', type: 'button', id: 'add-repository-link', class: 'btn btn-primary' %>
  </div>

  <hr>

  <div class="mb-3">
    <%= form.submit "Create Publication", class: 'btn btn-success' %>
  </div>
<% end %>

<%= link_to 'Back', publications_path, class: 'btn btn-secondary' %>

<script>
  document.getElementById('add-research-group').addEventListener('click', function() {
    const researchGroupsContainer = document.getElementById('research-groups');
    const newResearchGroup = researchGroupsContainer.querySelector('.research-group').cloneNode(true);
    
    // Get the current number of research group blocks
    const index = researchGroupsContainer.querySelectorAll('.research-group').length;

    // Update the names of the fields to include the index
    const rgSelect = newResearchGroup.querySelector('select');
    const rgCheckBoxContainer = newResearchGroup.querySelector('#is-primary-container');
    
    // Add the index to the name of each input field
    rgSelect.setAttribute('name', `publication[research_group_publications_attributes][${index}][research_group]`);
    rgCheckBoxContainer.innerHTML = `
      <input type="hidden" name="publication[research_group_publications_attributes][${index}][is_primary]" value="0">
      <input type="checkbox" name="publication[research_group_publications_attributes][${index}][is_primary]" value="1">
      <label class="form-label">Primary?</label>
    `;

    researchGroupsContainer.appendChild(newResearchGroup);
  });

  document.getElementById('add-identifier').addEventListener('click', function() {
    const identifiersContainer = document.getElementById('identifiers');
    const newIdentifier = identifiersContainer.querySelector('.identifier').cloneNode(true);
    
    // Get the current number of research group blocks
    const index = identifiersContainer.querySelectorAll('.identifier').length;

    // Update the names of the fields to include the index
    const idSelect = newIdentifier.querySelector('select');
    const idValue = document.querySelector('#identifier-value');
    
    // Add the index to the name of each input field
    idSelect.setAttribute('name', `publication[identifiers_attributes][${index}][category]`);
    idValue.setAttribute('name', `publication[identifiers_attributes][${index}][value]`)

    identifiersContainer.appendChild(newIdentifier);
  });

  document.getElementById('add-repository-link').addEventListener('click', function() {
    const repositoryLinksContainer = document.getElementById('repository-links');
    const newRepositoryLink = repositoryLinksContainer.querySelector('.repository-link').cloneNode(true);
    
    // Get the current number of research group blocks
    const index = repositoryLinksContainer.querySelectorAll('.repository-link').length;

    // Update the names of the fields to include the index
    const liSelect = newRepositoryLink.querySelector('select');
    const liValue = document.querySelector('#repository-link-value');
    
    // Add the index to the name of each input field
    liSelect.setAttribute('name', `publication[repository_links_attributes][${index}][repository]`);
    liValue.setAttribute('name', `publication[repository_links_attributes][${index}][value]`)

    repositoryLinksContainer.appendChild(newRepositoryLink);
  });
</script>

