<h1>New Publication</h1>

<%= simple_form_for @publication, html: { class: 'needs-validation' } do |form| %>
  <% if @publication.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h2>
      <ul>
        <% @publication.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <hr>

  <%= form.input :title %>

  <%= form.input :category, collection: Publication.categories.keys.map { |key| [key.humanize, key] }, include_blank: true %>

  <%= form.input :status, collection: Publication.statuses.keys.map { |key| [key.humanize, key] }, include_blank: true %>

  <%= form.input :author_list %>

  <%= form.input :publication_date, as: :date %>

  <%= form.input :link %>

  <hr>

  <h3> Research Groups Section </h3>
  <div class="research-group">
    <%= form.fields_for :research_group_publications do |rg_form| %>
      <%= render 'research_group_publication_fields', f: rg_form %>
    <% end %>
  </div>
  <%= link_to_add_association "Add Research Group", form, :research_group_publications, data: {association_insertion_node: '.research-group', association_insertion_method: :append}, class: "btn btn-secondary btn-sm" %>

  <hr>

  <h3> Identifiers Section </h3>
  <div class="identifier">
    <%= form.fields_for :identifiers do |id_form| %>
      <%= render 'identifier_fields', f: id_form %>
    <% end %>
  </div>
  <%= link_to_add_association "Add Identifier", form, :identifiers, data: {association_insertion_node: '.identifier', association_insertion_method: :append}, class: "btn btn-secondary btn-sm" %>

  <hr>

  <h3> Repository Links Section </h3>
  <div class="repository-link">
    <%= form.fields_for :repository_links do |rl_form| %>
      <%= render 'repository_link_fields', f: rl_form %>
    <% end %>
  </div>
  <%= link_to_add_association "Add Repository Link", form, :repository_links, data: {association_insertion_node: '.repository-link', association_insertion_method: :append}, class: "btn btn-secondary btn-sm" %>

  <hr>

  <h3> Conference Section </h3>
  <div class="conference" data-controller="nested-list">
    <div id="items-list">
      <%= form.association :conference, collection: Conference.all, label_method: :name, value_method: :id, include_blank: "Select a conference" %>
    </div>

    <div id="add-item-link">
      <%= link_to_add_association "Add New Conference", form, :conference, 
          data: {
            association_insertion_node: '.conference', 
            association_insertion_method: :append
          }, 
          class: "btn btn-secondary btn-sm" %>
    </div>
  </div>

  <hr>

  <h3> Journal Issue Section </h3>
  <div class="journal-issue" data-controller="nested-list">
    <div id="items-list">
      <%= form.association :journal_issue, collection: JournalIssue.all, label_method: :title, value_method: :id, include_blank: "Select a journal issue" %>
    </div>

    <div id="add-item-link">
      <%= link_to_add_association "Add New Journal Issue", form, :journal_issue, 
          data: {
            association_insertion_node: '.journal-issue', 
            association_insertion_method: :append
          }, 
          class: "btn btn-secondary btn-sm" %>
    </div>
  </div>

  <hr>

  <h3>KPI Reporting Extension</h3>
  <div class="kpi-reporting-extension" data-controller="nested-toggle">
    <%= form.fields_for :kpi_reporting_extension do |kpi_form| %>
      <%= render 'kpi_reporting_extension_fields', f: kpi_form %>
    <% end %>

    <div class="links max-one-association">
      <%= link_to_add_association "Add KPI Reporting Extension", form, :kpi_reporting_extension, 
          data: {association_insertion_node: '.kpi-reporting-extension', association_insertion_method: :append}, 
          force_non_association_create: true, class: "btn btn-secondary btn-sm" %>
    </div>
  </div>

  <hr>

  <h3>Open Access Extension</h3>
  <div class="mb-3">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="oa-toggle" name="create_open_access_extension">
      <label class="form-check-label" for="oa-toggle">Add Open Access Extension</label>
    </div>
  </div>

  <div id="open-access-extension-fields" style="display: none;">
    <%= form.fields_for :open_access_extension, @publication.open_access_extension || OpenAccessExtension.new do |oa_form| %>
      <div class="mb-3">
        <%= oa_form.label :category, "Category", class: 'form-label' %>
        <%= oa_form.select :category, 
            OpenAccessExtension.categories.keys.map { |key| [key.humanize, key] }, 
            {}, class: 'form-select', id: 'oa-category-select', name: 'publication[open_access_extension_attributes][category]' %>
      </div>
      
      <div class="mb-3 gold-oa-field" style="display: none;">
        <%= oa_form.label :gold_oa_charges, "Gold OA Charges (PLN)", class: 'form-label' %>
        <%= oa_form.number_field :gold_oa_charges, class: 'form-control', name: 'publication[open_access_extension_attributes][gold_oa_charges]' %>
      </div>
      
      <div class="mb-3 gold-oa-field" style="display: none;">
        <%= oa_form.label :gold_oa_funding_source, "Gold OA Funding Source", class: 'form-label' %>
        <%= oa_form.text_field :gold_oa_funding_source, class: 'form-control', name: 'publication[open_access_extension_attributes][gold_oa_funding_source]' %>
      </div>
    <% end %>
  </div>

  <hr>

  <div class="mb-3">
    <%= form.submit "Create Publication", class: 'btn btn-success' %>
  </div>
<% end %>

<%= link_to 'Back', publications_path, class: 'btn btn-secondary' %>
