<!-- app/views/notification_mailer/updated_publication_notification.html.erb -->
<h2>Publication has been updated</h2>
<h3>Please review the changes and ensure data consistency.</h3>
<br>

<p><strong>Title:</strong> <%= @publication.title %></p>
<p><strong>Updated by:</strong> <%= @publication.owner.email %></p>

<% if @changes[:publication].present? %>
  <h3>Publication fields</h3>
  <ul>
    <% @changes[:publication].each do |field, (old_v, new_v)| %>
      <% old_label, new_label = display_changed_any(@publication, field, old_v, new_v) %>
      <li>
        <strong><%= field.to_s.sub(/_id\z/, "").humanize %>:</strong>
        <%= old_label %> &rarr; <%= new_label %>
      </li>
    <% end %>  
  </ul>
<% end %>

<% @changes[:children]&.each do |row| %>
  <p><strong><%= row[:model] %> #<%= row[:id] || "new" %></strong> - <%= row[:action] %></p>
  <% if row[:changes].present? %>
    <ul>
      <% row[:changes].each do |f, (o, n)| %>
        <% old_label, new_label = display_changed_any(row[:model], f, o, n) %>
        <li>
          <strong><%= f.to_s.sub(/_id\z/, "").humanize %>:</strong>
          <%= old_label %> &rarr; <%= new_label %>
        </li>
      <% end %>    
    </ul>
  <% end %>
<% end %>

<br>
<p>Go to the <%= link_to "publication", publication_url(@publication) %></p>
